{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            margin-top: 100px;
            width: 400px;
            border: 1px solid darkgray;
            padding: 20px 30px;
            box-shadow: 5px 5px 10px #7c7c7c;
        }

        .header {
            text-align: center;
            font-weight: bolder;
            font-size: 25px;
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
<div class="account container">
    <div class="header">
        用户登录
    </div>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>用户名</label>
            {{ form.username }}
            <span style="color: red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>密码</label>
            {{ form.password }}
            <span style="color: red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span style="color: red">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" src="/image/code/">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">登录</button>
    </form>
</div>
<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>